@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity:1;
    }
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Needs Work to fix rowings */
.homes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 3;
} 
.home {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    text-align: center;
    position: relative;
    z-index: 4;

} 
.home img {
    width: 100%;
    height: auto;

}
.home h3 {
    margin: 10px 0;
}
.home p.price {
    font-weight: bold;
    color: #e83e8c;
}

.weblogo {
    position: absolute;
    z-index: 40;
    top: 60px;
    left: 150px;
    font-size: 20px;
    color:#fff;
}

.showcase {
    position: relative;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
    transition: .5s;
}

.showcase.active {
    right: 300px;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('images/menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}


.toggle.active {
    background: url('images/close.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}

.showcase video {
    position: absolute;
    top: -30vh;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    padding: 50px 50px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text {
    position: relative;
    z-index: 10;
    top: -18.5vh;
    left: 22vh;
}

.text h2 {
    animation-name: fadeIn;
    animation-duration: 5s;
    font-size: 3em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    animation-name: fadeIn;
    animation-duration: 10s;
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}


.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    position: relative;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu ul li a:hover {
    color:  #644f2e;
}






@media(max-width: 798px) {
    .showcase, .showcase header {
        padding: 40px;
    }

    .text h2 {
        font-size: 3em;
    }

    text.h3 {
        font-size: 2em;
    }
}